{
  // npm install --save-dev eslint-config-airbnb eslint-plugin-react eslint
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "experimentalObjectRestSpread": true
  },

  "rules": {
    "strict": 0,
    "no-underscore-dangle": 0,
    "comma-dangle": [2, "never"],
    "prefer-const": 0
  },

  "plugins": ["react"], // requires npm install --save-dev eslint-plugin-react

  "extends": "airbnb" // requires npm install --save-dev eslint-config-airbnb
}