[user]
	name = Justin Zimmerman
	email = zimmy130@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[help]
	autocorrect = 1
[color]
	ui = auto
[help]
  autocorrect = 1
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[credential]
  helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
