[user]
  name = Justin Zimmerman
  email = zimmy130@gmail.com
[color]
  ui = auto
[core]
  editor = subl -n -w
  autocrlf = input
  safecrlf = true
[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  yolo = push origin master
[credential]
  helper = osxkeychain
